<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>__title__</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <base href="__baseurl__">
        <link rel="shortcut icon" href="assets/img/system/favico.png" type="image/png"/>
    </head>
    <body class="mainbody">
        <div id="bodyloading-affect-box">
            <div id="bodyloading-affect-icon"></div>
        </div>
        <header>
            header
        </header>

        __dynamic_content__

        
        <footer>
            footer
        </footer>
    </body>
</html>